.top-panel{
    height:117px;
    background-color: #fff200;

}
.top-nav{
    height: 65px;
    background-color: #0a69a6;
    /*border-bottom: 2px solid #FFFFFF;*/
    margin-bottom: 0px;
    font-size: 16px;
}
.top-nav li{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}
.home-icon{
    color: #fff200;
    text-shadow: 0px 0px 18px #ffffff;
}
.top-nav .navbar-nav>.active>a,
.top-nav .navbar-nav>.active>a:hover,
.top-nav .navbar-nav>.active>a:focus,
.top-nav .navbar-nav>li>a:hover{
    color: #0a69a6;
    background-color: #fff200;
}

@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}
.feature{
    background-color: #FFFFFF;
    border: 1px solid #0a69a6;
}
.feature-title{
    margin: 5px 15px 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #033b5f;
}
.feature-title-ct{
    margin: 5px 0px 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #033b5f;
}
.feature-title-tour{
    margin: 20px 0px 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #de6f11;
}

.link-level4{
    font-size: 12px;
    color: #036;
    text-decoration: none;
}
.feature .thumbnail{
    border: 0;
    margin-bottom: 0px;
}
.connect{
    list-style-type: none;
    text-align: center;
}
.connect li { display: inline; }
.content-index h3{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #033b5f;
    font-weight: bold;
}
.content-index hr{
    margin-top: 0px;
    border: 1px solid #033b5f;
}
.content-index{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.content-index .container{
    background-color: #FFFFFF;
}
.content-index .thumbnail{
    margin-bottom: 0px;
    text-align: center;
}
.tour-list table{
    width: 100%;
}
.tour-list table thead{
    border-bottom: 2px solid #033b5f;
}
.tour-list table td{
    padding: 2px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.remove-m-t{
    margin-left: 0px;
    margin-right: 0px;
}
.remove-m-t .row{
    margin-left: 0px;
    margin-right: 0px;
}
@media (min-width: 1000px){
    #carousel-example-generic .carousel-caption{
        margin-bottom: 100px;
    }
    .top-carousel{
        margin-bottom: 100px;
    }
    .content-index{
        margin-top: -100px;
    }
    .remove-m-t{
        margin-top: 0px;
    }
}
@media (min-width: 768px){
    .top-nav .w-t{
        /*width: 170px;*/
        text-align: center;
    }
    .top-nav .navbar-nav>li{
        margin-left: 2px;
        margin-right: 2px;
    }
    .top-nav .navbar-nav>li>a {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .content-index .thumbnail{
        height: 228px;
    }
}

.p-top-6{
    padding-top: 6px;
}
.p-top-20{
    padding-top: 20px
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.top-text-run{
    padding-left: 10px;
    padding-right: 10px;
}
.div-text-run{
    background-color: #033b5f;
    color: #FFFFFF;
}
.p-zero{
    padding: 1px 0 0 1px;

}
.p-r-15{
    padding: 1px 15px 0 1px;

}
.p-l-15{
    padding-left: 15px;
}
.p-zero .thumbnail{
    /*border: 0;*/
}
.date-text{
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.price-text{
    font-size: 12px;
    color: #F00;
    font-weight: bold;
}
.ul-list-style-none{
    list-style-type: none;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    width: 100%;
}
.m-l-r-zero{
    margin-left: 0px;
    margin-right: 0px;
}
.media-body ul{
    padding-left: 5px;
}
.feature-title{
    font-size: 14px !important;
    height: 30px;
    overflow: hidden;
}

.list-es{
    padding-left: 10px;
}
.list-es li{
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
}

.tour-right-details{
    padding-left: 0px;
}
.tour-right-details li{
    font-size: 12px;
}
.tour-right-panel{
    border: none;
    box-shadow: none;
}
.tour-right-panel .panel-body{
    padding: 5px;
}
.tour-right-panel .panel-heading{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #0a69a6;
    border-right: 20px solid #fff200;
}
.tour-title {
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px #333;
    width: 100%;
}
.excerpt-info {
    font-size: 14px;
    color: #000;
    font-family: 'Noticia Text', serif;
    font-style: italic;
    padding: 5px;
}
.form-error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-error:focus{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.error-message{
    color: red;
}
.gmap {
     border: 1px solid #ccc;
     display: block;
     width: 100%;
     height: 572px;
 }
.infoBox {
    background: url(../img/map-popup.png) no-repeat !important;
    width: 180px !important;
    height: 100px !important;
    background-size: contain;
}
.infoBox {
    margin: -100px 0 0 50px;
    display: inline-block;
    padding: 2px 6px;
    color: #fff;
    border-radius: 15px;
}