.top-panel{
    height:117px;
    background-color: #fff200;

}
.top-nav{
    height: 65px;
    background-color: #0a69a6;
    /*border-bottom: 2px solid #FFFFFF;*/
    margin-bottom: 0px;
    font-size: 16px;
}
.top-nav li{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}
.home-icon{
    color: #fff200;
    text-shadow: 0px 0px 18px #ffffff;
}
.top-nav .navbar-nav>.active>a,
.top-nav .navbar-nav>.active>a:hover,
.top-nav .navbar-nav>.active>a:focus,
.top-nav .navbar-nav>li>a:hover{
    color: #0a69a6;
    background-color: #fff200;
}

@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}
.feature{
    background-color: #FFFFFF;
    border: 1px solid #0a69a6;
}
.feature-title{
    margin: 5px 15px 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #033b5f;
}
.feature-title-ct{
    margin: 5px 0px 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #033b5f;
}
.link-level4{
    font-size: 12px;
    color: #036;
    text-decoration: none;
}
.feature .thumbnail{
    border: 0;
    margin-bottom: 0px;
}
.connect{
    list-style-type: none;
    text-align: center;
}
.connect li { display: inline; }
.content-index h3{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #033b5f;
    font-weight: bold;
}
.content-index hr{
    margin-top: 0px;
    border: 1px solid #033b5f;
}
.content-index{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.content-index .container{
    background-color: #FFFFFF;
}
@media (min-width: 1000px){
    #carousel-example-generic .carousel-caption{
        margin-bottom: 100px;
    }
    .top-carousel{
        margin-bottom: 100px;
    }
    .content-index{
        margin-top: -100px;
    }
    .remove-m-t{
        margin-top: 0px;
    }
}
@media (min-width: 768px){
    .top-nav .w-t{
        width: 170px;
        text-align: center;
    }
    .top-nav .navbar-nav>li{
        margin-left: 2px;
        margin-right: 2px;
    }
    .top-nav .navbar-nav>li>a {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.p-top-6{
    padding-top: 6px;
}
.p-top-20{
    padding-top: 20px
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.top-text-run{
    padding-left: 10px;
    padding-right: 10px;
}
.div-text-run{
    background-color: #033b5f;
    color: #FFFFFF;
}
.p-zero{
    padding: 1px 0 0 1px;

}
.p-zero .thumbnail{
    border: 0;
}